/* You can add global styles to this file, and also import other style files */
main > .container {
  padding: 60px 15px 0;
}

span.pesan-error{
  color: red;
}

input.ng-invalid{
  border: 1px solid red;
}

span.error-block{
  color: red;
}
